@import './globals.scss';

:root{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: color(primary);
}

.grid-container{
    width: 100vw;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas: "title"
                         "content"
                         "nav";
}

.grid-header{
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h2{
        color:color(white);
        text-align: center;
        font-size: 1.8em;
    }
}

.grid-body{
    grid-area: content;
    border-radius: 25px 25px 0px 0px;
    background-color: color(white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px;
    grid-template-areas: "todo-list"
                         "add-todo";                      
}

.todo{
    grid-area:todo-list;
    display: flex;
    flex-direction: column;
    align-items: stretch ;
    padding: 2.5em;    

    &__item{
        display: flex;
        align-items: center;
        padding:5px 0px;
        margin-bottom: .8em;
        
        p{
            margin: 0px;
        }
    }

    &__check{
        border:solid 2px color(secondary);
        border-radius: 5px;
        background-color: white;
        width: 1.7em;
        height: 1.7em;
    
        &.checked{
            background-color: color(secondary);
        }
    }

    &__content{
        line-height: 1.5;
        margin-left: 2em;
        flex-grow:1
    }

    &__title{
        font-size: 1.2em;
        font-weight: 500;
        color:color(primary);

        &.checked{
            text-decoration: line-through;
        }
    }

    &__description{
        color:color(medium-gray);

        &.checked{
            text-decoration: line-through;
        }
    }

    &__edit{
        background-color: transparent;
        border: none;
        color: color(secondary);
        font-size: 1.4em;
        text-align: right;
    }

}

.add-todo{
    grid-area:add-todo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px color(primary);
    border-width: 1px 0px 1px 0px;
    padding: 0 2.5em;

    &__title{
        border:solid 1px color(primary);
        border-radius: 50px;
        padding: 0px 20px;
        height: 2.3em;
        outline: none;
        width: 85%;
        color: color(strong-gray);
    }
    
    &__title::placeholder{
        color: color(primary-light);
        opacity: 1;
    }

    &__submit{
        display: none;
    }

    label[for=submit]{
        color:color(primary);
        font-size: 2em;
        margin-bottom: 0px;
        line-height: 0px;
    }
}

 nav{
     background-color: color(white);
    grid-area:nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5em;
    
    a{
        color:color(medium-gray);
        font-size: 2em;
        line-height: 0px;
    }

    a.active{
        color:color(primary)
    }
}