<!DOCTYPE html>
<html ng-app="myApp" ng-controller="appCtrl as vm">
<head>
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Last-Modified" content="0">
	<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta charset="UTF-8">
	<title>App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/dependencies/angular.min.js"></script>
	<script src="js/dependencies/angular-locale_es-ar.js"></script>
	<script src="js/dependencies/angular-filter.js"></script>
	<script src="js/dependencies/angular-animate.js"></script>
  <script src="js/dependencies/angular-sanitize.js"></script>
  <script src="js/dependencies/lodash.full.js"></script>
	<script src="js/dependencies/ui-bootstrap-custom-tpls-2.5.0.min.js"></script>
	<link href="css/dependencies/ui-bootstrap-custom-2.5.0-csp.css" rel="stylesheet">
	<link href="css/dependencies/bootstrap.css" rel="stylesheet">
  <script src="js/dependencies/select.js"></script>
  <link href="css/dependencies/font-awesome.min.css" type="text/css" rel="stylesheet">
  <script src="js/dependencies/font-awesome-custom.js"></script>
  <link href="css/dependencies/select.css" rel="stylesheet" type="text/css" >
  <script src="js/dependencies/clipboard.js"></script>
  <script src="js/dependencies/ngclipboard.js"></script>
  <link href="css/components.css" type="text/css" rel="stylesheet">
	<link href="css/default.css" type="text/css" rel="stylesheet">
  <script src="js/functions.js"></script>
  <script src="js/controller.js"></script>
</head>
<body>
<div class="grid-container">

	<div class="grid-header">
		<h2>Make todo app</h2>
	</div>

	<div class="grid-body">

    <div class="todo">

      <div class="todo__item" ng-repeat="todo in vm.todos" >
        <div class="todo__check" ng-click="vm.checkTodo(todo.id)" ng-class="{checked:todo.checked}"></div>
        <div class="todo__content">
          <p class="todo__title" ng-class="{checked:todo.checked}" ng-bind="todo.title" ></p>
          <p class="todo__description" ng-class="{checked:todo.checked}" ng-bind="todo.description" ></p>
        </div>
        <button class="todo__edit" ng-click="vm.removeTodo(todo.id)"><i class="fas fa-pen"></i></button>
      </div>
      
    </div>

    <form class="add-todo" ng-submit="vm.addTodo()">
      <input type="text" class="add-todo__title" ng-model="vm.newTodoItem.title" placeholder="New task">
      <label for="submit"><i class="fas fa-plus-circle"></i></label>
      <input type="submit" id="submit" class="add-todo__submit">
    </form>

  </div>
  
  <nav>
    <a class="active"><i class="fas fa-check-square"></i></a>
    <a class="active"><i class="far fa-calendar"></i></a>
    <a class="active"><i class="fas fa-cog"></i></a>
  </nav>

  <footer class="grid-footer">

	</footer>

</div>	

</body>
</html>

